.header {
    background: darkgray;

}

.container {
    width: 1270px;
    padding: 0 15px;
    margin: 0 auto;
}

.main-nav {
    display: flex;
    justify-content: space-between;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    padding: 20px;
    display: inline-block;
}

.link {
    text-decoration: none;
    color: #282c34;
}

.logo {
    width: 40px;
    height: 40px;
    display: inline-block;

}

.logo-img {
    width: 100%;
    height: auto;
    padding: 10px;
}
